.App {

  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: black;
  color: darkgrey;
  align-items: center;
 
}

a:hover{

  color: blueviolet;
  text-transform: uppercase;
  cursor: pointer;

  box-shadow: 1px 1px 1px 1px;
}


.link{
  text-decoration: none;
 
flex-wrap: wrap;

}


